@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #081229;
  color: white;
  font-family: 'Poppins';
}

.wrapper{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 4rem);
}

.title{
  background-color: #bf1650;
  text-align: center;
  padding: 0.8rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  width: auto;
}

a{
  text-decoration: none;
  color: white;
}

nav.navbar{
  display: flex;
  gap: 20px;
}

.navbar a{
  background-color: #bf1650;
  padding: 0.8rem;
  border-radius: 0.5rem;
}

.hook-wrapper{
  border: 4px solid hsl(234, 39%, 24%);
  padding: 2rem;
  text-align: center;
  min-width: 50vw;
  border-radius: 0.5rem;
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
}

.hook-wrapper *, .todo:not(){
  justify-self: center;
}

.hook-title{
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: underline;
  /* font-weight: normal; */
}

.btns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn{
  border-radius: 0.5rem;
  background-color: #bf1650;
  padding: 0.5rem;
  outline: none;
  border: none;
  color: white;
  font-size: 1.15rem;
}

.btn:active{
  transform: scale(0.95);
}

.btn-increment{
  min-width: 30px;
  font-size: 1.2rem;
}

.hook-form{
  justify-self: center;
  display: flex;
  gap: 10px;
}

.hook-form-input{
  border: 2px solid hsl(234, 39%, 24%);
  border-radius: 0.5rem;
  padding: 0.4rem;
  color: white;
  outline: none;
  background: none;
}

.todos{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.todos-title{
  font-size: 1.2rem;
  text-decoration: underline;
}

.todo{
  background-color: hsl(234, 39%, 24%);
  border-radius: 0.5rem;
  text-align: left;
  padding: 0.4rem 0.5rem;
}